
/* defaults */
/* same on each page */

header {
display: table;
content: " ";
clear: both;
width: 100%;
background: linear-gradient(to bottom, #333333 0%, #000000 100%);
color: white;
position: fixed;
top: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover, nav li:hover {
  /*color: #b1cbbb;*/
  color: #85ad94;
}

/* logo */

#logo {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
  font-size: 2em;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

#logo a {
  color: white;
  text-decoration: none;
}
/* main layout */

main {
  /*margin-top: 55px;*/
}

/* headings */

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h2 {
  display: block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

p, h3 {
font-family: 'Playfair Display', serif;
}

footer {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, #333333 0%, #000000 100%);
  color: white;
}
