
/* divide the page into major sections */

.section-container {
  display: block;
  margin: auto;
  height: 100vh;
  padding-top: 80px;
}

/* about me */

.about a:hover {
  color: #b1cbbb;
}

.about a {
  color: black;
}

#triangle-up {
  margin: auto;
 width: 0;
 height: 0;
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;
 border-bottom: 20px solid #e6e6e6;
}

/* contact */

#contact {
  background: #333333;
}

/*education container*/

.edu-container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.edu-heading {
font-size: 1.2em;
  width: 53%;
  margin: auto;
}

.edu-content {
  padding-left: 10px;
    border-left: black solid 2px;
    width: 50%;
    margin: auto;
}

.edu-description {
  padding: 10px 0px 20px 10px;
    border-left: black solid 2px;
    width: 50%;
    margin: auto;
}

/* image carousel */

#carousel {
background-image: url('/images/background.png');
}

#carousel-container {
  margin: auto;
  display: block;
}

#img-container {
  display: inline-block;
  width: 100%;
}

#left {
  float: left;
  margin: 15% 5%;
  color: white;
}

#right {
  float: right;
  margin: 15% 5%;
  color: white;
}

.carousel-img {
  margin: auto;
  display: block;
  width: 70%;
}

/* projects */

#repo-spot {
  width: 50%;
  height: 300px;
  border: black solid 2px;
  margin: auto;
  text-align: center;
  margin: auto;
  overflow: scroll;
}
