/* main image */

#intro-img {
  visibility: hidden;
  max-width: 100%;
  display: relative;
}

.name {
  position: absolute;
  top: 25%;
  left: -4%;
  text-align: center;
  width: 100%;
  border: none;
}

/* about me */

.about {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
  background: #e6e6e6;
  display: block;
}

#triangle-up {
  margin: auto;
 width: 0;
 height: 0;
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;
 border-bottom: 20px solid #e6e6e6;
}


/* image carousel */
#carousel {
background-image: url('/images/background.png');
}

#carousel-container {
  margin: auto;
  display: block;
}

#img-container {
  display: inline-block;
  width: 100%;
}

#left {
  float: left;
  margin-top: 15%;
}

#right {
  float: right;
  margin-top: 15%;
}

.carousel-img {
  margin: auto;
  display: block;
  width: 80%;
}

/* projects */

.project-description {
  width: 100%;
  display: block;
}

.project-img{
  max-width: 100%;
  border: black solid 2px;
  display: block;
}

.project-article {
  width: 100%;
  text-align: center;
  margin: auto;
}

 @media screen and (min-width: 640px) {

   .project-article {
     width: 30%;
     text-align: center;
     display: inline-block;
     margin-left: 2%;
   }

#projects {
  width: 100%;
background: blue;
}

   .project-img {
     max-width: 100%;
     border: black solid 2px;
     display: block;
   }

  .project-description {
    width: 100%;
    text-align: center;
    visibility: hidden;
  }

  .name {
    position: absolute;
    top: 20%;
    left: 22%;
    width: 55%;
    font-size: 5em;
    padding: 2px 5px;
    border: black solid 3px;
  }

  h3 {
    text-align: center;
  }
  #skills {
    display: block;
  }

  #intro-img {
    visibility: visible;
    max-width: 100%;
    display: relative;
  }


}
