
/*  reusable modular components of a design */

/*containers*/

.content-container {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
  display: block;
}

.center-container {
  width: 70%;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
  display: block;
}

.float-container {
  content: " ";
  display: table;
  clear: both;
  width: 100%;
}

.float-left {
  float: left;
  display: inline-block;
  width: 50%;
}

.float-right {
  float: right;
  display: inline-block;
  width: 50%;
}

/*container backgrounds*/

.green {
  background: #b1cbbb;
}

.lightgray {
  background: #e0e2e4;
}

.darkgray {
  background: #333333;
}

.button-span {
  display: block;
}

.button {
  display: inline-block;
  font-size: 1.2em;
  border: solid teal 2px;
   color: teal;
   background: #333333;
   text-align: center;
   text-decoration: none;
   border-radius: 3px;
   margin: 5px;
}
