
nav {
  display: block;
  position: relative;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.nav-ul {
  display: none;
  position: absolute;
  left: 0px;
  top: 60px;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.nav-li {
  text-align: center;
  font-size: 1em;
  margin: 50px;
}

.sub-nav-li {
  display: none;
}

#nav-list i {
  float: right;
  height: 50%;
  margin: 20px;
}

.name {
  font-size: 2em;
  text-align: center;
  width: 100%;

}

#home-section {
  background-image: url('/images/mountain-background.jpg');
  background-position: bottom;
  height: 100vh;
}



.contact-article {
  width: 100%;
  color: white;
}

.contact-img {
  display: none;
}

.skills-div {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  margin: 15px 0px;
}

.project-article {
  width: 100%;
  text-align: center;
  margin: auto;
}

.project-description {
  width: 100%;
  display: block;
}

.project-img{
  max-width: 100%;
  display: block;
}




@media screen and (min-width: 640px) {

  nav {
    display: inline-block;
    position: static;
    width: 80%;
    float: right;
  }

  .nav-ul {
    display: inline-block;
    position: static;
    width: 100%;
    height: 100%;
    text-align: right;
    background: none;
    box-shadow: none;
  }

  .nav-li {
    display: inline;
    height: 60px;
    line-height: 60px;
    font-size: 1em;
    margin: 0px 10px;
  }

.sub-nav-li {
  display: inline;
  font-size: 0.6em;
  margin: 0;
}

  #nav-list i {
  display: none;
  }

#about-span {
  display: none;
}

#home-span {
  display: none;
}

#work-span {
  display: none;
}

  h3 {
    text-align: center;
  }

  #home-section {
    background-image: url('/images/mountain-background.jpg');
    background-position: bottom;
    height: 100vh;
  }

  .name {
    width: 100%;
    font-size: 4em;
    padding-top: 15%;
  }

  .contact-article {
   width: 50%;
   float: right;
   color: white;
  }

   .contact-img {
     width: 50%;
     display: inline-block;
   }

   #skills {
     display: block;
   }

   .skills-div {
     display: inline-block;
     width: 16%;
     text-align: center;
     float: left;
     }

  #projects {
    width: 100%;
    content: " ";
    display: table;
    clear: both;
  }

  .project-article {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
    float: left;
  }

  .project-description {
    width: 100%;
    text-align: center;
    display: none;
    padding-top: 5px;
    background: #333333;
    color: white;
  }

  .project-img {
    max-width: 100%;
    border: black solid 2px;
    display: block;
  }
}
