header {
display: table;
content: " ";
clear: both;
width: 100%;
background: black;
color: white;
position: fixed;
top: 0;
}

article {
  display: table;
  margin: 10px;
  content: " ";
  clear: both;
}

footer {
  display: block;
  width: 100%;
}
