.section-container {
  display: block;
  margin: auto;
  padding: 25px;
}

.about {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.carousel {
  height: 250px;
  width: 100%;
  background: gray;
}

.project-description {
  width: 45%;
  display: block;
  float: left;
}

.img-place {
  width: 45%;
  height: 100px;
  backgroud-color: blue;
  border: black solid 2px;
  display: block;
  float: right;
}

.section-container h2 {
  display: block;
  text-align: center;
  background: black;
  color: white;
}
 #skills {
   display: none;
 }

 @media screen and (min-width: 1000px) {
  .section-container article {
    width: 30%;
    display: inline-block;
  }

  .project-description {
    width: 100%;
    text-align: center;
  }
/*nav ul {
  display: block;
  float: right;
  font-family: 'Vollkorn', serif;
  border: red solid 3px;
}

nav li {
  display: inline-block;
  margin: auto 10px;
}
nav a {
  color: white;
  text-decoration: none;
}*/

  .img-place {
    width: 100%;
  }

  h3 {
    text-align: center;
  }
  #skills {
    display: block;
  }
}
