nav {
  display: block;
  position: relative;
}

nav ul {
  display: none;
  position: absolute;
  left: 0px;
  top: 40px;
  background: black;
  width: 100%;
  height: 100vh;
opacity: 0.8;
}

nav li {
text-align: center;
font-size: 2em;
margin: 50px;
font-family: 'Unica One', cursive;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover, nav li:hover {
  color: teal;
}
h1, h2 {
  display: inline-block;
  font-family: 'Unica One', cursive;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 5px;

}

h1 {
  height: 80px;
  line-height: 80px;
  margin-left: 10px;
font-size: 2.3em;
  float: left;
}
i {
  float: right;

  height: 50%;
margin: 20px;
}

p, h3 {
  font-family: 'Vollkorn', serif;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}
